@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCenter{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//    1em=  16px
//    600px/16==37.5em
//   phone-600px
//   tab-port=900px
//   tab-land=1200px
//   bif-desktop=1800px

@mixin respond($breakpint){
    @if $breakpint==phone{
        @media(max-width:37.5em){@content}  // 600px 600/16=37.5
    }
    @if $breakpint==tab-port{
        @media(max-width:56.25em){@content}//900px;
    }
    @if $breakpint==tab-land{
        @media(max-width:75em) {@content}//1200px;
    }
    @if $breakpint==big-desktop{
        @media(min-width:112.5em) {@content}//1800px;
    }
}

